<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockTrackingERP.Properties.Settings.StockTrackingERPConnectionString"
            connectionString="Data Source=Soft174;Initial Catalog=StockTrackingERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StockTrackingERP.Properties.Settings.StockTrackingERPConnectionString1"
            connectionString="Data Source=DESKTOP-1OQ57UP;Initial Catalog=StockTrackingERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StockTrackingERP.Properties.Settings.StockTrackingERPConnectionString2"
            connectionString="Data Source=DESKTOP-D149CFP;Initial Catalog=StockTrackingERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StockTrackingERP.Properties.Settings.StockTrackingERPConnectionString3"
            connectionString="Data Source=DESKTOP-RVBFRNG;Initial Catalog=StockTrackingERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StockTrackingERP.Properties.Settings.StockTrackingERPConnectionString4"
            connectionString="Data Source=DESKTOP-F0UVJRM;Initial Catalog=StockTrackingERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
